@import "global-import.scss";

.toolbar-search {
  display: flex;
  font-size: rem(14px);
  color: theme-color(primary-light);
  padding: 1px;
  height: 40px;
  position: relative;
  > label {
    pointer-events: none;
    top: 0;
    margin: auto;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    justify-content: center;
  }
  input {
    padding-left: 40px;
    color: #43425d;
    flex-grow: 1;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 270px;
    transition: border-color 0.2s ease-in, background-color 0.2s ease-in, width 0.2s ease;
    &:focus {
      outline: none;
      background-color: rgb(240, 240, 247);
      border-color: theme-color(primary-light);
      width: 440px;
    }
    
  }
}
