<mat-toolbar>
    <div fxLayout="row" fxLayoutAlign="flex-start center" class="w-100">
        <div class="nav-title-wrapper" fxLayout="row" fxLayoutAlign="center stretch">
            <a [routerLink]="['/ingestion']" class="nav-title m-auto">SA <span>2.0</span></a>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <app-global-search></app-global-search>
        </div>
        <div fxLayout="row" class="ml-auto" fxLayoutAlign="end center">
            <app-messages></app-messages>
            <span class="menu-separator"></span>
            <app-user-menu></app-user-menu>
        </div>
    </div>
</mat-toolbar>