<div fxLayout="row" fxLayoutAlign="center center">
    <button mat-flat-button class="user-info" [matMenuTriggerFor]="userMenu" #userMenuTrigger="matMenuTrigger">
        <span class="username text-truncate text-primary-dark">Bella Clark</span>
        <mat-icon>keyboard_arrow_down</mat-icon>
        <img class="user-img" src="../../../assets/images/user.jpg" alt="">
    </button>
</div>
<mat-menu #userMenu="matMenu" [overlapTrigger]="false" class="toolbar-dropdown-menu user-menu">
    <span (mouseleave)="userMenuTrigger.closeMenu()">
        <a mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>Profile</span>
        </a>
        <a mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Edit Profile</span>
        </a>
        <a mat-menu-item>
            <mat-icon>help</mat-icon>
            <span>Help</span>
        </a>
        <div class="divider"></div>
        <a mat-menu-item routerLink="/">
            <mat-icon>power_settings_new</mat-icon>
            <span>Log out</span>
        </a>
    </span>
</mat-menu>